<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30014">

		<setting label="30388" type="lsep"/>
		<setting label="30011" type="action" action="RunScript(plugin.video.jellycon,0,?mode=DETECT_SERVER_USER)" option="close"/>
		<setting id="ipaddress" type="text" label="30000" default="" visible="false" enable="false" />
		<setting id="protocol" type="select" label="30390" lvalues="30391|30392" default="0" visible="false"/>
		<setting id="port" type="text" label="30001" default="8096" visible="false" enable="false" />
		<setting id="server_address" type="text" label="30000" default="" visible="true" enable="true" />
		<setting id="verify_cert" type="bool" label="30003" default="true" visible="true" enable="true" />

		<setting label="30389" type="lsep"/>
		<setting type="sep" />
		<setting label="30012" type="action" action="RunScript(plugin.video.jellycon,0,?mode=CHANGE_USER)" option="close"/>
		<setting id="username" type="text" label="30024" />
		<setting id="save_user_to_settings" type="bool" label="30378" default="true" visible="true" enable="true" />
		<setting id="allow_password_saving" type="bool" label="30367" default="true" visible="true" enable="true" />

	</category>
	<category label="30207">

		<setting label="30437" type="lsep"/>
		<setting type="sep" />
		<setting id="play_cinema_intros" type="bool" label="30438" default="false" visible="true" enable="true" />

		<!--<setting id="playback_type" type="select" label="30206" lvalues="30209|30210|30211" default="1" />-->

		<setting label="30238" type="lsep"/>
		<setting type="sep" />
		<setting id="max_stream_bitrate" type="enum" label="30208" values="0.5 Mbps|1 Mbps|1.5 Mbps|2.0 Mbps|2.5 Mbps|3.0 Mbps|4.0 Mbps|5.0 Mbps|6.0 Mbps|7.0 Mbps|8.0 Mbps|9.0 Mbps|10.0 Mbps|12.0 Mbps|14.0 Mbps|16.0 Mbps|18.0 Mbps|20.0 Mbps|25.0 Mbps|30.0 Mbps|35.0 Mbps|40.0 Mbps|100.0 Mbps|1000.0 Mbps [default]|Maximum" visible="true" default="23" />
		<setting id="allow_direct_file_play" type="bool" label="30433" default="false" visible="true" enable="true" />
		<setting id="force_transcode_h265" type="bool" label="30236" default="false" visible="true" enable="true" />
		<setting id="force_transcode_mpeg2" type="bool" label="30239" default="false" visible="true" enable="true" />
		<setting id="force_transcode_msmpeg4v3" type="bool" label="30240" default="false" visible="true" enable="true" />
		<setting id="force_transcode_mpeg4" type="bool" label="30241" default="false" visible="true" enable="true" />
		<setting id="force_transcode_av1" type="bool" label="30242" default="false" visible="true" enable="true" />
		<setting id="direct_stream_sub_select" type="select" label="30379" lvalues="30380|30381|30382" default="0" visible="true"/>

		<setting label="30211" type="lsep"/>
		<setting type="sep" />
		<setting id="force_max_stream_bitrate" type="enum" label="30434" values="0.5 Mbps|1 Mbps|1.5 Mbps|2.0 Mbps|2.5 Mbps|3.0 Mbps|4.0 Mbps|5.0 Mbps|6.0 Mbps|7.0 Mbps [default]|8.0 Mbps|9.0 Mbps|10.0 Mbps|12.0 Mbps|14.0 Mbps|16.0 Mbps|18.0 Mbps|20.0 Mbps|25.0 Mbps|30.0 Mbps|35.0 Mbps|40.0 Mbps|100.0 Mbps|1000.0 Mbps|Maximum" visible="true" default="9" />
		<setting id="playback_max_width" type="select" label="30212" values="640|720|1024|1280|1440|1600|1920|2600|4096" default="1920" visible="true"/>
		<setting id="playback_video_force_8" type="bool" label="30213" default="false" visible="true" enable="true"/>
		<setting id="audio_codec" type="select" label="30419" values="ac3|aac" default="ac3"/>
		<setting id="audio_playback_bitrate" type="select" label="30418" values="128|160|192|256|320|384|448|640" default="256" visible="true"/>
		<setting id="audio_max_channels" type="slider" label="30420" default="8" range="2,1,8" option="int" visible="true"/>
                <setting id="max_play_queue" type="slider" label="30447" default="200" range="20, 10, 1000" option="int" visible="true"/>

	</category>
	<category label="30214">

		<setting label="30440" type="lsep"/>
		<setting type="sep" />
		<setting id="play_next_trigger_time" type="slider" label="30439" default="0" range="0,1,180" option="int" visible="true"/>

		<setting label="30215" type="lsep"/>
		<setting type="sep" />
		<setting id="promptPlayNextEpisodePercentage" type="slider" label="30218" default="90" range="5,1,100" option="int" visible="true"/>
		<setting id="promptPlayNextEpisodePercentage_prompt" type="bool" label="30219" default="true" visible="true" enable="true" />
		<setting id="promptDeleteEpisodePercentage" type="slider" label="30217" default="100" range="5,1,100" option="int" visible="true"/>
		<setting id="promptDeleteMoviePercentage" type="slider" label="30220" default="100" range="5,1,100" option="int" visible="true"/>

		<setting label="30121" type="lsep"/>
		<setting type="sep" />
		<setting id="forceAutoResume" type="bool" label="30322" default="true" visible="true" enable="true" />
		<setting id="jump_back_amount" type="slider" label="30114" default="15" range="0,1,60" option="int" visible="true"/>

		<setting label="30329" type="lsep"/>
		<setting type="sep" />
		<setting id="stopPlaybackOnScreensaver" type="bool" label="30332" default="false" visible="true" enable="true" />
		<setting id="changeUserOnScreenSaver" type="bool" label="30330" default="false" visible="true" enable="true" />
		<setting id="cacheImagesOnScreenSaver" type="bool" label="30333" default="true" visible="true" enable="true" />
		<setting id="cacheImagesOnScreenSaver_interval" type="slider" label="30400" default="0" range="0,1,60" option="int" visible="true"/>

	</category>
	<category label="30110">

		<setting label="30216" type="lsep"/>
		<setting type="sep" />
		<setting id="addCounts" type="bool" label="30116" default="false" visible="true" enable="true" />
		<setting id="addResumePercent" type="bool" label="30118" default="false" visible="true" enable="true" />
		<setting id="addSubtitleAvailable" type="bool" label="30163" default="false" visible="true" enable="true" />
		<setting id="include_overview" type="bool" label="30181" default="true" visible="true" enable="true" />
		<setting id="include_media" type="bool" label="30182" default="true" visible="true" enable="true" />
		<setting id="add_user_ratings" type="bool" label="30348" default="true" visible="true" enable="true" />
		<setting id="include_people" type="bool" label="30183" default="false" visible="true" enable="true" />
		<setting id="hide_unwatched_details" type="bool" label="30023" default="false" visible="true" enable="true" />
		<setting id="episode_name_format" type="select" label="30019" default="{SeriesName} - {ItemName}" values="{SeriesName} - {ItemName}|{ItemName}|S{SeasonIndex}E{EpisodeIndex} - {ItemName}|{SeriesName} - S{SeasonIndex}E{EpisodeIndex} - {ItemName}" />

		<setting label="30222" type="lsep"/>
		<setting type="sep" />
		<setting id="group_movies" type="bool" label="30340" default="true" visible="true" enable="true" />
		<setting id="flatten_single_season" type="bool" label="30020" default="true" visible="true" enable="true" />
		<setting id="show_all_episodes" type="bool" label="30021" default="true" visible="true" enable="true" />
		<setting id="show_empty_folders" type="bool" label="30328" default="false" visible="true" enable="true" />
		<setting id="hide_watched" type="bool" label="30432" default="true" visible="true" enable="true" />

		<setting label="30450" type="lsep"/>
		<setting type="sep" />
		<setting id="rewatch_days" type="slider" label="30451" default="0" range="0,1,365" option="int" visible="true"/>
		<setting id="rewatch_combine" type="bool" label="30452" default="false" visible="true" enable="true" />

		<setting label="30223" type="lsep"/>
		<setting type="sep" />
		<setting id="moviePageSize" type="slider" label="30331" default="0" range="0,1,100" option="int" visible="true"/>
		<setting id="show_x_filtered_items" type="slider" label="30018" default="20" range="5,1,100" option="int" visible="true"/>

		<setting label="30224" type="lsep"/>
		<setting type="sep" />
		<setting id="widget_select_action" type="select" label="30026" lvalues="30313|30314" default="0" visible="true"/>
		<setting id="interface_mode" type="select" label="30225" lvalues="30226|30227" default="0" visible="true"/>

	</category>
	<category label="30111">

		<setting label="30343" type="lsep"/>
		<setting id="websocket_enabled" type="bool" label="30310" default="true" visible="true" enable="true" />
		<setting id="override_contextmenu" type="bool" label="30334" default="true" visible="true"/>
		<setting id="background_interval" type="slider" label="30341" default="20" range="0,1,120" option="int" visible="true"/>
		<setting id="new_content_check_interval" type="slider" label="30342" default="0" range="0,1,300" option="int" visible="true"/>
		<setting id="simple_new_content_check" type="bool" label="30442" default="true" visible="true" enable="true" />
		<setting id="random_movie_refresh_interval" type="slider" label="30384" default="5" range="0,1,60" option="int" visible="true"/>

	</category>
	<category label="30022">

		<setting id="deviceName" type="text" label="30016" default="JellyCon" visible="true" enable="true" />
		<setting id="http_timeout" type="slider" label="30416" default="60" range="5,1,300" option="int" visible="true" />
		<setting id="profile_count" type="slider" label="30010" default="0" range="0,1,20" option="int" visible="true" />
		<setting id="log_debug" type="bool" label="30027" default="false" visible="true" enable="true" />
		<setting id="log_timing" type="bool" label="30015" default="false" visible="true" enable="true" />
		<setting id="use_cache" type="bool" label="30345" default="true" visible="true" enable="true" />
		<setting id="use_cached_widget_data" type="bool" label="30441" default="false" visible="true" enable="true" />
		<setting id="showLoadProgress" type="bool" label="30120" default="false" visible="true" enable="true" />
		<setting id="suppressErrors" type="bool" label="30315" default="false" visible="true" enable="true" />
		<setting id="speed_test_data_size" type="slider" label="30436" default="10" range="1,1,10" option="int" visible="true"/>

	</category>
	<category label="30421">

		<setting id="view-movies" type="text" label="Movies view ID" default="" visible="true" enable="false" />
		<setting id="view-tvshows" type="text" label="TV Shows view ID" default="" visible="true" enable="false" />
		<setting id="view-seasons" type="text" label="Seasons view ID" default="" visible="true" enable="false" />
		<setting id="view-episodes" type="text" label="Episodes view ID" default="" visible="true" enable="false" />
		<setting id="view-sets" type="text" label="Collections view ID" default="" visible="true" enable="false" />

	</category>
	<category label="30422">

		<setting id="sort-Movies" type="select" label="30231" lvalues="30423|30424|30426|30425|30427|30429|30430|30428" default="0" visible="true"/>
		<setting id="sort-BoxSets" type="select" label="30260" lvalues="30423|30424|30426|30425|30427|30429|30430|30428" default="0" visible="true"/>
		<setting id="sort-Series" type="select" label="30229" lvalues="30423|30424|30426|30425|30427|30429|30430|30428" default="0" visible="true"/>
		<setting id="sort-Seasons" type="select" label="30431" lvalues="30423|30424|30426|30425|30427|30429|30430|30428" default="0" visible="true"/>
		<setting id="sort-Episodes" type="select" label="30235" lvalues="30423|30424|30426|30425|30427|30429|30430|30428" default="0" visible="true"/>

	</category>
</settings>
